interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/leynos/git-donkey/pulls/93
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/leynos/git-donkey/pulls/93\",\"id\":4538948696,\"node_id\":\"PR_kwDOQ7SZj88AAAABDorcWA\",\"html_url\":\"https://github.com/leynos/git-donkey/pull/93\",\"diff_url\":\"https://github.com/leynos/git-donkey/pull/93.diff\",\"patch_url\":\"https://github.com/leynos/git-donkey/pull/93.patch\",\"issue_url\":\"https://api.github.com/repos/leynos/git-donkey/issues/93\",\"number\":93,\"state\":\"closed\",\"locked\":false,\"title\":\"Adopt
        the estate Markdown formatting baseline\",\"user\":{\"login\":\"leynos\",\"id\":746767,\"node_id\":\"MDQ6VXNlcjc0Njc2Nw==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/746767?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/leynos\",\"html_url\":\"https://github.com/leynos\",\"followers_url\":\"https://api.github.com/users/leynos/followers\",\"following_url\":\"https://api.github.com/users/leynos/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/leynos/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/leynos/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/leynos/subscriptions\",\"organizations_url\":\"https://api.github.com/users/leynos/orgs\",\"repos_url\":\"https://api.github.com/users/leynos/repos\",\"events_url\":\"https://api.github.com/users/leynos/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/leynos/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"body\":\"##
        Summary\\n\\nThis branch adopts the estate Markdown formatting baseline that
        concordat now audits as the `markdown-formatting-baseline` rule package (PD-002
        to PD-006), following the `leynos/netsuke` reference wiring. `make fmt` calls
        `mdtablefix` and `markdownlint-cli2 --fix` directly over the Git-selected
        Markdown set instead of the `mdformat-all` wrapper, `make check-fmt` runs
        the matching `mdtablefix --check` so unformatted[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/microsoft/vscode/pulls/335346
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/microsoft/vscode/pulls/335346\",\"id\":4488981653,\"node_id\":\"PR_kwDOAn8RLM8AAAABC5BslQ\",\"html_url\":\"https://github.com/microsoft/vscode/pull/335346\",\"diff_url\":\"https://github.com/microsoft/vscode/pull/335346.diff\",\"patch_url\":\"https://gith[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/microsoft/vscode/stacks?pull_request=335346
  response:
    body:
      string: '[{"id":1003197,"number":335381,"node_id":"PRS_kwDOAn8RLM4AD069","url":"https://api.github.com/repos/microsoft/vscode/stacks/335381","base":{"ref":"main"},"open":true,"created_at":"2026-09-10T01:12:03Z","pull_requests":[{"number":335345,"state":"open","draft":true,"merged_at":null,"head":{"ref":"cherwan/ui-composition-token-foundations","sha":"34e8c479c71830322cd34ab9833529702d23bd6c"}},{"number":335346,"state":"open","draft":true,"merged_at":null,"head":{"ref":"cherwan/ui-composition-authoring-guidance","sha":"4bab6ee1c6e97a2d8ff57f711fe2b46d3d5fafad"}},{"number":335350,"state":"open","draft":true,"merged_at":null,"head":{"ref":"cherwan/ui-composition-button-ownership","sha":"a50248696be27eb603a9bb8646a8950c9e16dda8"}},{"number":335522,"state":"closed","draft":true,"merged_at":null,"head":{"ref":"cherwan/ui-composition-icon-label-ownership","sha":"7329190113632162cf664975fe26ccbac14cb166"}}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c42ed03321374ef3cc38c6394a36dd845f971fa41b06d9ab9b3002b630e3769f"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:public_key, gist, read:org, repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4868'
      X-RateLimit-Reset:
      - '1789490537'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '132'
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - fra
      x-oauth-client-id:
      - 178c6fc778ccc68e1d6a
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.github.com/repos/leynos/git-donkey/commits/02ab4e9e1bcb6ec498f2d4dde6e1a7df2d897c41/pulls
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/leynos/git-donkey/pulls/93\",\"id\":4538948696,\"node_id\":\"PR_kwDOQ7SZj88AAAABDorcWA\",\"html_url\":\"https://github.com/leynos/git-donkey/pull/93\",\"diff_url\":\"https://github.com/leynos/git-donkey/pull/93.[...]
